name: "socialy-dev"

services:
  api:
    build:
      context: .
      target: build
    restart: always
    command: sh -c "pnpm install && pnpm start:dev"
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
    ports:
      - 3000:3000
    networks:
      - socialy_network_dev
    volumes:
      - ./:/usr/app
      - node_modules:/usr/app/node_modules
    depends_on:
      - socialy_db_dev

  socialy_db_dev:
    image: postgres:17-alpine
    restart: always
    ports:
      - 5432:5432
    networks:
      - socialy_network_dev
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgresql:/var/lib/postgresql

  compodoc:
    build:
      context: .
      target: build
    depends_on:
      - api
    ports:
      - 8080:8080
    volumes:
      - ./documentation:/usr/app/documentation
    command: pnpx @compodoc/compodoc -p tsconfig.json -s
networks:
  socialy_network_dev:
    driver: bridge
volumes:
  postgresql:
  node_modules:
